<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Twitter</title>
    <style>
        *{
            font-size: 14px;
            font-family: arial;
        }
    </style>
</head>
<body>
    <h1>Twitter Map of the Following Users of an Account</h1>
    <h2>Please input the username of the account:</h2>
    <form method="post">
        <input type="text" name="username" placeholder="{{username}}" value="{{username}}">
        <button type="submit">GO</button>
        <h2>{{username}}</h2>
    </form>
</body>
</html>
